<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      <%= (typeof title != "undefined" ? title : "Vite Template") %>
    </title>
    {{ meta }}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">

    <script type="module" src="/_style/style.js"></script>

    {{ head }}
  </head>
  <body>
    <div class="l-container">
      <!-- HEADER -->
      <%- include('_includes/header'); -%>

      <!-- BREADCRUMBS -->
      <%- include('_includes/breadcrumbs') -%>
      
      <!-- BANNER -->
      <%- include('_includes/banner') -%>

      <!-- BLOCK 1 -->
      <%- include('_includes/block1') -%>

      <!-- CONTENT -->
      {{ content }}

      <!-- FOOTER -->
      <%- include('_includes/footer'); -%>
    </div>
    {{ script }}
    <script src="/assets/js/main.js"></script>
  </body>
</html>
